<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
  {% block title %} - MyStory
  </title>
  {% endblock %}
</head>
<body>
  <div class="content" id="content">
    {% block content %}{% endblock %}
  </div>

  <div class="footer" id="footer">
    {% block footer %}
    <div class="copy" id="copy">&copy; ricky h.</div>
    <div class="contact" id="contact">
      <a href="mailto:ricy@ricky.com"></a>say hi</div>
    {% endblock %}
  </div>
</body>
</html>