<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
  {{title}}
  </title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ephesis&family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Ephesis&family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">
</head>
<body>


  <div class="content" id="content">
    {% block content %}{% endblock %}
  </div>

  <footer class="footer" id="footer">
    {% block footer %}
    <div> 
      <p class="copy" id="copy">&copy; ricky h.</p>
    </div>
    <div class="contact" id="contact">
      <a class="contactLink" href="mailto:ricky@ricky.com">say hi</a>
    </div>
  </footer>
  {% endblock %}
</body>
</html>