{% set title = "Welcom to MyStory" %}
{% extends 'base.html' %}

{% block content %}
{% if username %}
  <p class="ifUserNameText">Hi, {{userName}}!</p>
  <a href="/login" class="logoutButton" id="logoutButton"></a>
{% endif %}
<body class="indexBody">
  <div class="welcome">
    <h1 class="welcomeH">Welcome to MyStory</h1>
    <p class="welcomeP">
      MyStory is a place for our community to write short stories for everyone to enjoy.
    </p>
      
    <p class="welcomeP2">
      We encourage you to write your short stories and share them with the community. 
    </p>
  </div>
  
  <div class="login_register">

    <p class="loginText">Login to write a story!</p>

    <div class="loginContainer" id="loginContainer">
      <a href="/login" class="loginBtn" id="loginBtn">
        <div class="loginTextContainer">
          <h3 class="loginWord">Login</h3>
        </div>
      </a>
    </div>

    <p class="registerText">Join to tell your own tales!</p>

    <div class="registerContainer" id="registerContainer">
      <a href="/register" class="registerBtn" id="registerBtn">
        <div class="registerTextContainer">
          <h3 class="registerWord">Join</h3>
        </div>
      </a>
    </div>

  </div>

  <div class="read_write">
    
    <p class="readText">Read stories. No need to login!</p>

    <div class="readContainer" id="readContainer">
      <a href="/read" class="readBtn" id="readBtn">
        <div class="readTextContainer">
          <h3 class="readWord">Read Stories</h3>
        </div>
      </a>
    </div>

    <p class="readText">Tell your tale!</p>

    <div class="writeContainer" id="writeContainer">
      <a href="/write" class="writeBtn" id="writeBtn">
        <div class="writeTextContainer">
          <h3 class="writeWord">Share a story</h3>
        </div>
      </a>
    </div>
  </div>
</body>
{% endblock %}
