{% set title = "Welcom to MyStory" %}
{% extends 'base.html' %}

{% block content %}

  <div class="welcome">
    <h3 class="welcomeH">Welcome to MyStory</h3>
    <p class="welcomeP">
      MyStory is a place for our community to write short stories for everyone to enjoy
    </p>
      
    <p class="welcomeP2">
      We encourage you to write your short stories and share them with the community. 
    </p>
  </div>
  
  <div class="loginButton" id="loginButton">
    <a href="/login">
      <h3>Login</h3>
    </a>
  </div>

  <div class="registerButton" id="registerButton">
    <a href="/register">
      <h3>Join</h3>
    </a>
  </div>

  <div class="homeMain" id="homeMain">
    <div class="readBox" id="readBox">
      <a href="/read" class="readBtn" id="readBtn">
        Read
      </a>
    </div>

    <div class="writeBox" id="writeBox">
      <a href="/write" class="writeBtn" id="writeBtn">
        Write
      </a>
    </div>
  </div>
  {% endblock %}
