{% set title = login %}
{% extends 'base.html' %}

{% block content %}
  <div class="loginHeader">
    <h1 class="loginWelcome">
      Sign up to share your short stories!
    </h1>
  </div>


  <div class="loginForm" id="loginForm">
    <form action="{{ url_for('login')}}" class="login" id="login" method="POST">
      <input type="text" class="loginEmail" id="loginEmail">
      <label for="email">What's your email?</label>
      <input type="password" class="loginPass" id="loginPass">
      <label for="password">What's your password?</label>
      <button class="loginButton" type="submit">Join us!</button>
    </form>
  </div>
{% endblock %}
