{% set title = "Read" %}
{% extends 'base.html' %}

{% block content %}
<div class="registerHeader">
  <a href="/" class="homeIconLink"><img src="../static/house-outline.png" alt="home" class="homeIcon">
  </a>

  <h1 class="registerWelcome">
    Enjoy your reading time!
  </h1>
</div>

<p class="writeStoryTextOnRead">Want to write a story? Click below!</p>

<div class="writeRedirectButton" id="writeRedirectButton">
  <a href="/write" class="writeBtn" id="writeBtn">
    <button class="storyButton" type="submit">Write</button>
  </a>
</div>

<div>
  <label for="" class="readStoryTitle">
    {{storyTitle}}
  </label>
  <a class="readStoryButton"></a>
</div>  
{% endblock %}

