{% set title = "write a Story" %}
{% extends 'base.html' %}

{% block content %}
  <div class="pageTopper" id="pageTopper">
    <a href="/" class="homeIconLink"><img src="../static/house-outline.png" alt="home" class="homeIcon">
    </a>

    <h1 class="writeHeader">
      Write your story here!
    </h1>
  </div>

  <div class="storyFormContainer">
    <form class="storyForm" action="{{ url_for('write')}}" method="GET, POST">
      <input class="storyTitle" type="text" name="title" required>
      <label for="title" class="storyTitleLabel">Story Title</label>
      <input class="storySynopsis" type="text" name="synopsis" required>
      <label for="synopsis" class="storySynopsisLabel">What's your story about?</label>
      <textarea class="storyBody" name="story"  required></textarea>
      <label for="story" class="storyBodyLabel">Tell your tale</label>
      <button class="storyButton" type="submit">Publish</button>
    </div>
  </form>
{% endblock %}
